.footer{

  position: relative;
  bottom:0;
  width:100%;
  color: white;
  font-size: 12px;
  text-align: center;
  margin: 100px 0 0 0;
  
  div{
    text-align: center;
    width: 100%;
    margin: 0;
  }

  p{  
    margin: 0
  }

  img.social{
    width: 18px;
    margin: 0 5px -4px 5px;
  }
}