body{
  background: #997352	;
  max-width: 100vw;
}

div#info{
  min-height: 90vh;
}

div#language > span{
  margin: 0 5px 0 5px;
  color: '#997352';
}

.location {
  margin-top: 30px;
  margin-bottom: 10px;

  p {
    margin: 0 0 0 0;
    color: white;
  }

  .title{
    font-size: 2rem;
    margin-bottom: 5px;
  }
}

div.location p{

}

div#aboutUs{
  margin-top: 4vh;
  color:white;
}

table.aboutUs{
  font-size: 1.5rem;
  color:white;
}

p.aboutUs{
  margin-top: 2vh;
  font-size: 1.5rem;
}

div#products{
  margin-top: 30px;
}

span.icon{
  position: absolute;
  margin: 3px 0 0 -20px;
  font-size: 16px;
  color: white;
}

span#companyName{
  font-weight: 600;
  font-size: 16px;
}